/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Des 14, 7:56:49
    Author     : rowi
*/

body{
    font-family: 'Roboto', 'Arial', serif;
    background: white;
}

.header{
    background: #BD6C6C;
    color: white;
    min-height: 140px;
    height: auto;
    padding: 35px;
    text-align: center;
}

.header h1{
    padding: 0;
    margin: 10px 0 0 0;
}

@media(max-width: 700px){
    .header h1{
        font-size: 25px;
        padding: 0;
        padding-top: 10px;
        margin: 10px 0 0 0;
    }
    .content-menu{
        display: none;
    }
}

.navigation{
    background: #f5f5f5;
    color: white;
    min-height: 55px;
    height: auto;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.content{

}

.content-menu{
    padding: 20px;
    //background: white;
    //color: white;
    height: auto;
}

.content-menu .nav-pills>li.active>a, 
.content-menu .nav-pills>li.active>a:hover, 
.content-menu .nav-pills>li.active>a:focus{
    background: #032D40;
    border-radius: 0px;
}

.content-menu .nav-pills>li>a,
.content-menu .nav-pills>li>a:hover{
    border-radius: 0px;
    border-bottom: 1px #ddd solid;
}

.content-menu .glyphicon{
    margin-right: 10px;
    font-size: 12px;
}

.content-isi{
    //background: #f5f5f5;
    min-height: 450px;
    padding: 20px;
}

.content-isi h1, .content-isi p{
    margin-top: 0px;
    color: #666;
}

.content-isi hr,hr{
    border: 0,5px #666 solid;
    margin-bottom: 20px;
    margin-top: 5px;
}

.content-isi .glyphicon{
    margin-right: 10px;
    font-size: 12px;
}

.content-isi .breadcrumb{
    background: white;
    margin-bottom: 0;
    color: #032D40;
}

.footer{
    min-height: 30px;
    padding: 20px;
    text-align: center;
}

/*--navigation--*/
.right-icon{
    float: right;

}

.second-nav{
    background: #fff;
    color: #032D40;
    list-style: none;
    margin: 0;
    border-bottom: 1px #ddd solid;
}



